<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 ">
    <!-- 配置shiro的核心组件SecurityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--引用realm-->
        <property name="realm" ref="myRealm"/>
    </bean>

    <!--配置自己的realm-->
    <bean id="myRealm" class="com.chenm.ssm.shiro.realm.MyRealm">
        <!--注入加密配置-->
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <!--加密方法：MD5 只能加密，不能解密-->
                <property name="hashAlgorithmName" value="MD5"/>
                <!--加密次数-->
                <property name="hashIterations" value="1000"/>
            </bean>
        </property>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/main.jsp"/>
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
        <!--<property name="filterChainDefinitions">
            <value>
                &lt;!&ndash;不拦截&ndash;&gt;
                /login.jsp = anon
                /login = anon
                &lt;!&ndash;其余的拦截&ndash;&gt;
                /** = authc
            </value>
        </property>-->

        <!--动态设置权限: 引用返回的结果map-->
        <property name="filterChainDefinitionMap" ref="map"/>
    </bean>
    <!--创建一个bean-->
    <bean id="filterChainDefinitionMapBuilder" class="com.chenm.ssm.shiro.FilterChainDefinitionMapBuilder"/>
    <!--引用创建bean和bean的方法:返回的结果是map-->
    <bean id="map" factory-bean="filterChainDefinitionMapBuilder" factory-method="buildFilterChainDefinitionMap"/>
</beans>